.header {
  width: 100vw;
  height: 128px;
  position: relative;
  z-index: 2;
  display: grid;
  place-items: center;
  grid-template-columns: auto 1fr 250px;
  grid-template-rows: 100%;
  padding: 0 16px;
  grid-auto-flow: column;
   background: linear-gradient(to bottom, #f8f8f8, #ffffff);
}

.header:before {
  content : "";
  position: absolute;
  bottom  : 0;
  left    : 2%;
  width   : 96%;
  border-bottom:2px solid rgb(180, 180, 180);
}

.logoWrapper {
  position: relative;
  max-width: 250px;
  padding: 8px;
}

.logoWrapper:before {
  content : "";
  position: absolute;
  bottom  : 25%;
  right: 0;
  height  : 50%;
  width   : 1px; 
  border-right:2px solid rgb(180, 180, 180);
}

.header h2 {
  font-size: 28px;
  font-family: 'Major Mono Display', monospace;
  color: var(--green);
}

.nicaraguahonduras{
  font-size: 16px;
  padding-top: 8px;
  color: var(--blue);
  font-family: 'Major Mono Display', monospace;
}

.searchIcon {
  color: var(--blue);
}

.imageWrapper{
justify-self: end;
padding: 32px;
}

@media screen and (max-width: 768px) {

  .header{
    grid-template-columns: 1fr 150px ;
  }
  
  .logo2 {
    display: none;
}

.header nav {
  display: none;
}
}