.publicacion{
    display: grid;
    position: relative;
    margin-bottom: 32px;
    width: 356px;
    height: 160px;
    grid-template-columns: minmax(64px, 100px) minmax(250px,1fr);
    grid-template-rows: 160px;
    
    /* border-bottom: 1px solid rgb(145, 145, 145); */
}

.publicacion::after{
    content: '';
    position: absolute;
    bottom: -16px;
    width: 100%;
    height: 1px;
    background-color: rgb(180, 180, 180)
    /* border-bottom: 1px solid rgb(145, 145, 145); */
}

.info {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-left: 16px;
}

.titulo{
    max-width: 250px;
    font-size: 16px;
    color: var(--green);
}

.info h2:hover{
    font-size: 16px;
    color: var(--green2);
}

.info p{
    color: gray;
}

