.CardStyle {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: space-around;
  position: relative;
  background-color: rgb(240, 240, 255);
  width: 320px;
  height: 375px;
  padding-bottom: 16px;
  border: 1px solid var(--blue);
  box-shadow: 0 1px 3px rgba(0, 0, 45, 0.12), 0 1px 2px rgba(0, 0, 45, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.CardStyle:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 90, 0.25), 0 10px 10px rgba(0, 0, 90, 0.22);
}

.titulo {
  color: var(--green);
  width: 92%;
  font-size: 16px;
  justify-self: center;
  font-family: 'Georama', sans-serif;
}

.titulo:hover {
  color: var(--green2);
}

.date {
  font-size: 14px;
  color: rgba(180, 180, 180);
  padding-left: 4%;
  text-align: start;
}

.ImageWrapper {
  display: block;
  position: relative;
  text-align: start;
  width: 100%;
  height: 200px;
}
