.navigation {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
}

.navigationList {
    width: 100%;
    justify-items: center;
    
}

.navigationList li{
  display: inline;
  text-align: center;

}

.navigationLink {
    display: inline-block;
    z-index: 99;
    width: 25%;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    font-size: 16px;
    color: var(--blue);
    font-family: 'Georama', sans-serif;
}

.navigationLink:focus, .navigationLink:hover {
    color: var(--green);
}

.navigationLink:active {
    transform: scale(0.9);
}

.one:hover ~ .hr {
    visibility: visible;
    width: 25%;
    height: .2rem;
      border: 1px solid var(--blue);
}

.two:hover ~ .hr {
    visibility: visible;
    width: 25%;
    height: .2rem;
  margin-left: 25%;
    border: 1px solid var(--blue);
}

.three:hover ~ .hr {
    visibility: visible;
    width: 25%;
    height: .2rem;
  margin-left: 50%;
    border: 1px solid var(--blue);
}

.four:hover ~ .hr {
    visibility: visible;
    width: 25%;
    height: .2rem;
  margin-left: 75%;
    
}



.hr {
    visibility: hidden;
  height: 0;
  width:0;
  margin: 0;
  height: .2rem;
  border: 1px solid var(--blue);
  background: var(--blue);
  border-radius: 8px;
  transition: .3s ease-in-out;
}
