.autorWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
}

.nombre {
    color: var(--blue2);
    font-size: 18px;
    font-family: 'Cutive Mono';
    font-weight: 700;
}

.nombre:hover {
    color: var(--blue);
}