.footerContainer{
  display: grid;
  grid-template-columns: 100vw;
  width: 100vw;
  place-items: center;
  background-color: rgb(220, 220, 220);
  color: var(--blue);
  margin-top: auto;
}

.upperGrid{
  display: grid;
  width: 90%;
  height: auto;
  place-items: center;
  padding: 8px 0;
  border-bottom:1px solid rgb(110, 110, 110) ;
}

.lowerGrid{
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 16px;
}

.lowerGrid p {
  font-size: 12px;
  font-family: 'Roboto', san-serif;
}

.profileLink{
  text-decoration: underline;
  color: var(--blue2);
}

.profileLink:hover{
  color: var(--blue);
}