.footerContainer{
  display: grid;
  grid-template-columns: 100vw;
  width: 100vw;
  place-items: center;
  background-color: rgb(220, 220, 220);
  color: var(--blue);
  margin-top: auto;
}

.upperGrid{
  display: grid;
  width: 90%;
  height: auto;
  place-items: center;
  padding: 8px 0;
  border-bottom:1px solid rgb(110, 110, 110) ;
}

.lowerGrid{
  display: grid;
  place-items: center;
  justify-content: center;
  padding: 16px 0;
}