.publicaciones{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(382px, 1fr));
  justify-items: center;
  gap: 8px;
}

.recursosGrid{
  padding:0 32px; 
  background-color: rgba(255, 255, 255,0.8)
}

.presentaciones{
  display: grid;
  padding-top: 32px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  justify-items: center;
  gap: 8px;
}


@media screen and (max-width:768px) {
  .recursosGrid{
  padding:0; 
}

.presentaciones{
  padding:0; 
}

}

