.hero h2{
    color: red;
    
}

.contentWrapper p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
}

.contenido {
    padding: 32px;
    text-align: justify;
    background-color: rgba(255, 255, 255,0.8);
}