

.main {
  flex: 1;
  display: flex;
  max-width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descripcion{
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  height: auto;
  background-color: var(--green);
  padding: 32px;
}

.descripcion h2{
  font-family:'Seymour One', serif;
  color: var(--green2);
  text-align: start;
  font-size: 40px;
  width: 100%;
  justify-self: start;
  padding-bottom: 8px;
}

.descripcion p{
  font-family:'Cormorant Garamond', serif;
  text-align: justify;
  color: var(--green2);
  width: 90%;
  font-size: 22px;
  justify-self: start;
  padding-bottom: 32px;
}

.ctaLink{
  cursor: pointer;
  font-size: 20px;
  border: 2px solid var(--green2);
  background-color: transparent;
  padding-top: 16px;
  border-radius: 8px;
  padding: 8px;
  color: var(--green2);
}

.ctaLink:hover{
  
  background-color: var(--green2);
  color: var(--green);
}

.recrusosGrid{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 40%;
  padding:32px 0;
  background-color: rgba(255, 255, 255,0.8)
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.leftGrid{
  width: 100%;
  padding:0 16px;
}

.cards {
  display: grid;
  height: auto;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, 320px) ;
  place-items: center;
  justify-content: center;
}

.files{
    display: grid;
    grid-template-columns: repeat(auto-fit, 224px);
    gap: 8px;
    place-items: center;
    justify-content: center;
    padding: 32px 0;
}

.file{
    display: flex;
    width: 90%;
    height: 224px;
    padding: 16px 0;
    justify-content: center;
    border-top: 2px solid var(--blue);
    border-bottom: 2px solid var(--blue);
}

.fileInfo{
    max-width: 350px;
    display: grid;
    gap: 16px;
    place-items: center;
}

.fileInfo h4{
    font-size: 18px;
    color: var(--green);
    text-align: center;
    font-family: 'Georama', sans-serif;
}


.downloadLink{
    color: var(--blue2);
    text-decoration: underline;
    font-family: 'Georama', sans-serif;
}

.downloadLink:hover{
    color: var(--blue);
}


.rightGrid{
  padding:0 16px; 
}

@media screen and (max-width: 1024px) {
  .recrusosGrid{
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    justify-items: center;
  }

  .rightGrid{
    padding: 0;
  }
}